<form>

  <h1>Create a Team and Heroes!</h1>

  <label for="team_name">: </label>
  <input id="team_name" type="text" name="team[name]"><br>
  <label for="team_motto">: </label>
  <input id="team_motto" type="text" name="team[motto]"><br>


  <h2>Hero 1</h2>
  <label for="member1_name">: </label>
  <input id="member1_name" type="text" name="team[member1][][name]"><br>
  <label for="member1_power">: </label>
  <input id="member1_power" type="text" name="team[member1][][power]"><br>
  <label for="member1_bio">: </label>
  <input id="member1_bio" type="text" name="team[member1][][bio]"><br>

  <h2>Hero 2</h2>
  <label for="member2_name">: </label>
  <input id="member2_name" type="text" name="team[member2][][name]"><br>
  <label for="member2_power">: </label>
  <input id="member2_power" type="text" name="team[member2][][power]"><br>
  <label for="member2_bio">: </label>
  <input id="member2_bio" type="text" name="team[member2][][bio]"><br>

  <h2>Hero 3</h2>
  <label for="member3_name">: </label>
  <input id="member3_name" type="text" name="team[member1][][name]"><br>
  <label for="member1_power">: </label>
  <input id="member3_power" type="text" name="team[member3][][power]"><br>
  <label for="member3_bio">: </label>
  <input id="member3_bio" type="text" name="team[member3][][bio]"><br>

</form>
